body{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 75px;
  color: FAFAF9;
}

.continer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
    justify-content: space-between;
}
.main-star{
    height: 56px;
    width: 56px;
    background-color: bisque;
    border-radius: 100px;
}
h4{
    font-size: 2.25rem;
}
.review-detail{
    font-size: 1.25rem;
    color: #595961;
    line-height: 40px;
}
.checklist-discript{
    display: flex;
    gap: 8px;
}
.checklist p{
    font-size: 0.875rem;
    color: #7f8085;
}
.continer-2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.saction-1{
    gap: 4px;
    padding: 16px 48px 16px 24px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    width: fit-content;
    background-color: FFFFFF;   
    align-self: flex-end;
}
.saction-2{
    gap: 4px;
    padding: 16px 48px 16px 24px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    width: fit-content;
    background-color: FFFFFF;   
}
.icon{
    display: flex;
    gap: 26px;
}
.star-icon{
    display: flex;
    gap: 8px;
}
.google-log img{
    width: 100px;
}
.star-icon img{
    width: 28px;
}
.section-heder{
    font-size: 1.25rem;
    margin-top: 16px;
}
.section-tittle{
    font-size: 1rem;
    color: #595961;
    width: 290px;
    margin-top: -16px;
}

/* Media Quariy for small Devices */
@media screen and (max-width:640px) {
    body{
        margin: 32px;
    }
    .continer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .continer-2{
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
    }
    .saction-1{
        padding: 24px;
        background-color: #ffffff;
    }
    .saction-2{
        padding: 24px;
        background-color: #ffffff;
    }
}

/* Media quary for medium devices */
@media screen and (min-width:640px) and (max-width:1024px) {
    body{
        margin: 16px;
    }
    .continer{
        display: flex;
        flex-direction: column;
    }
    .continer-2{
        display: flex;
        gap: 16px;
        padding: 40px;
    }
    .saction-1{
        padding: 24px;
    }
    .saction-2{
        padding: 24px;
    }
}